/* Navbar */

.navsize {
  padding: 2rem;
  width: 10%;
}

.text-shadow{
  text-shadow: 3px 3px  3px black;
}

.logo {
  width: 80px;
}

.near-pos {
  left: 4vw;
  top: 8vh;
}

.font-nav{
  border-left: 4px solid rgb(255, 255, 255);
  border-radius: 6px;
  color: #fff;
  display: block;
  font-family: sans-serif;
  margin: 1vh auto;
  max-width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  white-space: nowrap;
  transition: all .90s ease;
}

.font-nav:hover{
  box-shadow: 6vw 4vw 3vw #fff inset;
  color: #212529!important;
}

/* Main */

.content {
  min-height: calc(100vh - 408px);
  width: 85vw;
}

#article {
  background-image: url('assets/background.jpg');
  background-size: cover;
}

#home {
  background-image: url('assets/background_home.jpg');
  background-size: cover;
}

.card{
  color: white!important;
  background-color: #212529!important;
  opacity: 0.9;
}

.button{
  border-left: 4px solid rgba(33,106,254,1);
  background: rgba(33,106,254,1);
  border-radius: 6px;
  color: #fff;
  font-family: sans-serif;
  margin: 1vh auto;
  padding: 0.7rem;
  text-decoration: none;
  white-space: nowrap;
  transition: all .90s ease;
}

.button:hover{
  box-shadow: 6vw 4vw 3vw rgba(199,34,254,1) inset;
  color: white!important;
}

.card-img-top{
  height: 23vh!important;
}

/* Footer */

.icon-foot{
  color: #6c757d!important;
  margin-right: 1rem;
}

/* Animazioni */

.item-sliding-right {
  animation: itemEnteringRight 3s ease-out forwards;
}

@keyframes itemEnteringRight {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.item-sliding-up {
  animation: itemEnteringUp 3s ease-out forwards;
}

@keyframes itemEnteringUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}